/* Font Face */
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu-LightItalic.eot");
	src:url("../fonts/Ubuntu-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-LightItalic.woff2") format("woff2"), url("../fonts/Ubuntu-LightItalic.woff") format("woff"), url("../fonts/Ubuntu-LightItalic.ttf") format("truetype");
	font-weight:300;
	font-style:italic;
}
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu-Light.eot");
	src:url("../fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu-Light.ttf") format("truetype");
	font-weight:300;
	font-style:normal;
}
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu-Medium.eot");
	src:url("../fonts/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.ttf") format("truetype");
	font-weight:500;
	font-style:normal;
}
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu-Bold.eot");
	src:url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.ttf") format("truetype");
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu-BoldItalic.eot");
	src:url("../fonts/Ubuntu-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-BoldItalic.woff2") format("woff2"), url("../fonts/Ubuntu-BoldItalic.woff") format("woff"), url("../fonts/Ubuntu-BoldItalic.ttf") format("truetype");
	font-weight:bold;
	font-style:italic;
}
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu-Italic.eot");
	src:url("../fonts/Ubuntu-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Italic.woff2") format("woff2"), url("../fonts/Ubuntu-Italic.woff") format("woff"), url("../fonts/Ubuntu-Italic.ttf") format("truetype");
	font-weight:normal;
	font-style:italic;
}
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu.eot");
	src:url("../fonts/Ubuntu.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff"), url("../fonts/Ubuntu.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"Montserrat";
	src:url("../fonts/Montserrat-Regular.eot");
	src:url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"Montserrat";
	src:url("../fonts/Montserrat-Bold.eot");
	src:url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:"Montserrat";
	src:url("../fonts/Montserrat-Light.eot");
	src:url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
	font-weight:300;
	font-style:normal;
}
@font-face{
	font-family:"FontAwesome";
	src:url("../fonts/fontawesome-webfont.eot");
	src:url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
.fa,
.break_name:after{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.fa-facebook:before{
	content:"\f09a";
}
.fa-twitter:before{
	content:"\f099";
}
.fa-instagram:before{
	content:"\f16d";
}
.fa-youtube:before{
	content:"\f167";
}
.fa-skype:before{
	content:"\f17e";
}
.fa-star:before{
	content:"\f005";
}
.fa-long-arrow-left:before{
	content:"\f177";
}
.fa-long-arrow-right:before{
	content:"\f178";
}
.fa-location-arrow:before{
	content:"\f124";
}
/* Global Reset */
*{
	margin:0;
	padding:0;
	outline:none;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-size:24px;
	font-weight:bold;
	line-height:normal;
	margin-bottom:20px;
	font-family:Ubuntu, Arial, sans-serif;
}
h2{
	font-size:22px;
}
h3{
	font-size:18px;
}
h4{
	font-size:16px;
}
h5{
	font-size:14px;
}
h6{
	font-size:12px;
}
img{
	vertical-align:top;
}
p{
	margin:0 0 18px;
}
strong{
	font-weight:bold;
}
ul{
	list-style:none;
}
abbr{
	text-decoration:none;
}
a{
	color:#474747;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
	color:#111;
}
a img{
	border-style:none;
}
mark{
	background:none;
}
input,
textarea{
	font:16px Ubuntu, Arial, sans-serif;
	-webkit-appearance:none;
	border-radius:0;
}
textarea{
	resize:vertical;
}
input[placeholder]{
	text-overflow:ellipsis;
}
input::-moz-placeholder{
	text-overflow:ellipsis;
}
input:-moz-placeholder{
	text-overflow:ellipsis;
}
input:-ms-input-placeholder{
	text-overflow:ellipsis;
}
:focus::-webkit-input-placeholder{
	color:transparent !important;
}
:focus::-moz-placeholder{
	color:transparent !important;
}
:focus:-moz-placeholder{
	color:transparent !important;
}
:focus:-ms-input-placeholder{
	color:transparent !important;
}
fieldset{
	border-style:none;
}
label[for],
input[type=checkbox],
input[type=radio],
input[type=submit],
button,
select{
	cursor:pointer;
}
*{
	box-sizing:border-box;
}
html,
body{
	height:100%;
}
body{
	color:#444;
	font:16px/24px Ubuntu, Arial, sans-serif;
	min-width:320px;
}
.homepage #st_pusher{
	background:url(../images/bg-page1.jpg) repeat-x 50% 0;
}
.homepage_bg2 #st_pusher{
	background-image:url(../images/bg-page2.jpg);
}
.homepage_bg3 #st_pusher{
	background-image:url(../images/bg-page3.jpg);
}
.homepage_bg4 #st_pusher{
	background-image:url(../images/bg-page4.jpg);
}
.homepage_bg5 #st_pusher{
	background-image:url(../images/bg-page5.jpg);
}
.wrapper{
	margin:0 auto;
	max-width:1350px;
	padding:0 15px;
}
.btn,
.btn_submit,
.btn_white{
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	padding:17px 40px;
	border-radius:5px;
	background:#0693a1;
	-webkit-transition:all .25s ease-in-out;
	transition:all .25s ease-in-out;
	box-shadow:0 3px 4px #aaa;
	letter-spacing:1px;
}
.btn:hover{
	background:#046e78;
	color:#fff;
}
.btn_submit{
	border:none;
	background-color:#016879;
	padding:0;
	display:block;
	width:100%;
	height:48px;
	box-shadow:0 3px 3px #016879;
}
.btn_submit:hover{
	background:#024e5a;
}
.btn_white{
	background-color:#fff;
	color:#0693a1;
	box-shadow:none;
	position:relative;
}
.btn_white:hover{
	color:#03717c;
}
.loaded .btn_white{
	box-shadow:0 3px 6px #666;
}
.clearflow:after,
#signup_block .wrapper:after,
#featured_trips .holder:after,
.info_blocks:after,
.recent_blog_articles .blocks:after,
.subscribe_form:after,
.wintrip:after,
.about_atolls .district_maps:after,
.break_info:after,
.break_info .holder:after,
.content:after{
	content:"";
	display:block;
	clear:both;
}
.h3,
.intro .description h3,
.surfatoll_insta_photos h3,
.recent_blog_articles h3,
.subscribe_form .label strong,
#footer .lists h4,
.wintrip .text h4,
#side_nav .list strong,
.about_atolls .text h3,
.swell_charts h3,
.content_holder h3,
.breaks_section .heading h3,
.content .text h3,
.content .text h3{
	text-transform:uppercase;
	color:#474747;
	font:300 24px Montserrat, Arial, sans-serif;
}
.fullwidth_img,
#signup_block .img img,
#featured_trips .img img,
.info_blocks .img img,
.surfatoll_insta_photos .list img,
.recent_blog_articles .block img,
.wintrip .img img,
.about_atolls .atoll_map .points_list .about .img img,
.breaks_table .col_break_name .img img,
.break_images img,
.break_images img{
	display:block;
	width:100%;
	height:auto;
}
.promo{
	position:relative;
	padding:220px 0 70px;
	min-height:1050px;
	color:#fff;
	text-align:center;
}
.promo h2{
	font:bold 42px Montserrat, Arial, sans-serif;
	text-transform:uppercase;
	margin-bottom:24px;
}
.promo h3{
	text-transform:uppercase;
	font-weight:normal;
	font-size:18px;
	margin-bottom:34px;
}
@media screen and (max-width: 414px){
	.promo{
		padding:280px 10px 160px;
	}
}
@media screen and (max-width: 360px){
	.promo h2{
		font-size:34px;
	}
}
.visual{
	padding:0;
	min-height:0;
	height:500px;
	background:#0693a1;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:50% 50%;
	margin-bottom:34px;
}
.visual h2{
	margin-bottom:10px;
}
.visual .text{
	position:relative;
	z-index:5;
	top:50%;
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	padding:0 10px;
}
@media screen and (max-width: 414px){
	.visual{
		height:667px;
	}
	.visual h2{
		line-height:44px;
	}
	.visual .text,
	.visual #header{
		position:static;
		padding-bottom:40px;
	}
	.visual .text{
		-webkit-transform:none;
		transform:none;
	}
}
.icon{
	background:url(../images/sprite.png) no-repeat;
	position:absolute;
}
#header{
	padding:42px 0 20px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
#header .wrapper{
	max-width:1500px;
	margin:0 auto;
	padding:0 15px;
}
#header .holder{
	float:right;
	padding-top:28px;
	position:relative;
	z-index:6;
}
#header .explore{
	float:left;
	padding-left:30px;
	position:relative;
	cursor:pointer;
	color:#fff;
	text-transform:uppercase;
	margin-top:-1px;
}
#header .explore:before{
	content:"";
	display:block;
	width:20px;
	height:2px;
	background:#fff;
	position:absolute;
	left:0;
	top:50%;
	margin-top:-1px;
	box-shadow:0 -7px 0 0 #fff, 0 7px 0 0 #fff;
}
#header .explore:hover:before{
	-webkit-animation:menu .6s;
	animation:menu .6s;
}
#header .languages{
	float:left;
	padding-left:15px;
}
#header .languages li{
	float:left;
	margin-left:11px;
	width:28px;
	height:19px;
}
#header .languages a{
	display:block;
	text-indent:-9999px;
	height:100%;
	background:url(../images/sprite.png) no-repeat;
	background-position:-401px -243px;
}
#header .languages .french_lang{
	background-position:-401px -262px;
}
@media screen and (max-width: 414px){
	#header .logo{
		float:none;
		margin:0 auto 30px;
	}
	#header .holder{
		float:none;
		text-align:center;
		padding-top:0;
	}
	#header .explore{
		float:none;
		display:inline-block;
		margin-bottom:30px;
	}
	#header .languages{
		float:none;
		padding:0;
	}
	#header .languages li{
		float:none;
		display:inline-block;
	}
	#header .languages li:first-child{
		margin-left:0;
	}
}
.logo{
	float:left;
	margin:0;
	text-indent:-9999px;
	background:url(../images/logo.png) no-repeat;
	width:258px;
	height:70px;
	position:relative;
	z-index:6;
}
.logo a{
	display:block;
	height:100%;
	text-indent:-9999px;
}
#signup_block{
	height:0;
	overflow:hidden;
	background-color:#0693a1;
	color:#fff;
	position:relative;
}
#signup_block .wrapper{
	padding-top:46px;
	padding-bottom:50px;
	max-width:1245px;
}
@media screen and (max-width: 500px){
	#signup_block .wrapper{
		padding-bottom:20px;
	}
}
#signup_block .text{
	float:left;
	width:59.03614458%;
	font-weight:300;
}
#signup_block .text .holder{
	overflow:hidden;
	height:1%;
	padding-top:34px;
}
#signup_block .text .holder p{
	margin-bottom:10px;
}
#signup_block .text .holder p strong{
	font-weight:500;
}
#signup_block .text .holder a{
	color:#fff;
}
#signup_block .text .holder a:hover{
	text-decoration:underline;
}
@media screen and (max-width: 900px){
	#signup_block .text .holder{
		padding-top:0;
	}
}
#signup_block .text .title{
	display:block;
	font:300 24px/30px Montserrat, Arial, sans-serif;
	text-transform:uppercase;
	margin-bottom:15px;
}
@media screen and (max-width: 630px){
	#signup_block .text{
		width:45%;
	}
}
@media screen and (max-width: 500px){
	#signup_block .text{
		width:100%;
		float:none;
		padding-bottom:20px;
	}
}
#signup_block .img{
	float:left;
	border-radius:50%;
	overflow:hidden;
	margin-right:8.16326531%;
	max-width:36.73469388%;
}
@media screen and (max-width: 900px){
	#signup_block .img{
		display:none;
	}
}
#signup_block span.close{
	position:absolute;
	right:40px;
	top:27px;
	text-indent:-9999px;
	cursor:pointer;
	background:url(../images/sprite.png) no-repeat -421px -206px;
	width:24px;
	height:24px;
}
@media screen and (max-width: 1373px){
	#signup_block span.close{
		top:10px;
		right:14px;
	}
}
.signup_form{
	width:32.12851406%;
	float:right;
}
.signup_form .fields li{
	overflow:hidden;
	padding-bottom:11px;
}
.signup_form .txt,
.subscribe_form .txt{
	background:#fff;
	border:none;
	border-radius:5px;
	width:calc(100% - 40px);
	padding:12px 20px;
	display:block;
	font-weight:300;
	color:#7f7f7f;
	font-size:16px;
}
.signup_form .txt::-webkit-input-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.signup_form .txt::-moz-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.signup_form .txt:-moz-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.signup_form .txt:-ms-input-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
@media screen and (max-width: 630px){
	.signup_form{
		width:50%;
	}
}
@media screen and (max-width: 500px){
	.signup_form{
		float:none;
		width:90%;
		margin:0 auto;
	}
}
/* signup_block end */
#featured_trips{
	max-width:995px;
	padding:0 40px;
	margin:0 auto 50px;
	position:relative;
}
#featured_trips li{
	overflow:hidden;
}
#featured_trips .holder{
	max-width:800px;
	margin:0 auto;
}
#featured_trips .img{
	float:left;
	width:33.75%;
	border-radius:50%;
	overflow:hidden;
}
#featured_trips .description{
	float:right;
	width:58.75%;
	padding:26px 0 20px;
	font-weight:300;
}
#featured_trips .description h4{
	text-transform:uppercase;
	font:300 24px Montserrat, Arial, sans-serif;
	letter-spacing:1px;
	margin:0 0 4px;
	color:#474747;
}
#featured_trips .description h5{
	font:italic 300 16px/24px Ubuntu, Arial, sans-serif;
	margin:0;
	color:#0693a1;
}
#featured_trips .description p{
	margin-bottom:12px;
}
#featured_trips .description dl{
	overflow:hidden;
}
#featured_trips .description dt{
	font-weight:500;
	float:left;
	margin:0 4px 0 36px;
}
#featured_trips .description dt:first-child{
	margin-left:0;
}
#featured_trips .description dd{
	float:left;
	margin-bottom:20px;
}
#featured_trips .bx-next,
#featured_trips .bx-prev{
	position:absolute;
	left:5px;
	top:113px;
	text-indent:-9999px;
	background:url(../images/sprite.png) no-repeat -401px -281px;
	width:14px;
	height:30px;
	z-index:51;
}
#featured_trips .bx-next{
	left:auto;
	right:5px;
	background-position:-415px -281px;
}
@media screen and (max-width: 768px){
	#featured_trips{
		margin-bottom:10px;
	}
}
@media screen and (max-width: 550px){
	#featured_trips .img{
		float:none;
		width:60%;
		margin:0 auto 20px;
		display:block;
	}
	#featured_trips .description{
		float:none;
		width:100%;
		text-align:center;
	}
}
/* featured_trips end */
.intro{
	padding:115px 0 80px;
	text-align:center;
	font-weight:300;
}
.intro .description{
	max-width:760px;
	margin:0 auto;
}
.intro .wrapper{
	max-width:1053px;
}
.intro .options{
	overflow:hidden;
	padding:20px 0;
	font:13px Montserrat, Arial, sans-serif;
	text-transform:uppercase;
	text-align:left;
}
.intro .options ul{
	float:left;
	width:36%;
	margin-right:1%;
}
.intro .options ul:last-child{
	width:25%;
}
.intro .options li{
	margin-bottom:24px;
}
@media screen and (max-width: 768px){
	.intro{
		padding-top:80px;
		padding-bottom:30px;
	}
	.intro .btn{
		padding-left:10px;
		padding-right:10px;
		display:block;
	}
	.intro .block .img h4{
		font-size:26px;
		left:10px;
	}
}
@media screen and (max-width: 600px){
	.intro .block{
		width:47%;
		display:inline-block;
		vertical-align:top;
		float:none;
		margin-bottom:20px;
	}
	.intro .block:nth-child(3n){
		margin-left:0;
	}
	.intro .options ul{
		width:49%;
	}
	.intro .options ul:last-child{
		width:100%;
		margin:0;
	}
}
@media screen and (max-width: 414px){
	.intro .blocks{
		padding-bottom:0;
	}
	.intro .block{
		width:100%;
		display:inline-block;
		vertical-align:top;
		float:none;
		margin:0 0 20px;
	}
	.intro .block .text ul{
		font-size:20px;
	}
	.intro .block .img h4{
		font-size:34px;
	}
	.intro .options ul:last-child li{
		float:left;
		width:124px;
	}
}
@media screen and (max-width: 360px){
	.intro .options ul{
		width:100%;
		margin:0;
	}
	.intro .options ul li{
		margin-bottom:12px;
	}
}
/* intro end */
.info_blocks{
	padding-bottom:40px;
}
.info_blocks .block{
	width:30.66666667%;
	float:left;
	margin-left:4%;
	background-color:#fff;
	box-shadow:0 7px 10px #bbb;
	opacity:0;
}
.info_blocks .block:first-child{
	margin-left:0;
}
.info_blocks .img{
	position:relative;
}
.info_blocks .img h4{
	position:absolute;
	bottom:10px;
	left:22px;
	margin:0;
	color:#fff;
	font:300 32px Ubuntu, Arial, sans-serif;
	text-transform:lowercase;
	word-spacing:-7px;
}
.info_blocks .img h4 strong{
	font-weight:bold;
}
.info_blocks .text{
	text-align:center;
	padding:24px 10px;
}
.info_blocks .text ul{
	padding-bottom:12px;
}
.info_blocks .text li{
	padding-bottom:16px;
}
.info_blocks .text dl{
	padding:10px 0;
}
.info_blocks .text dt{
	font-weight:500;
}
.info_blocks .text dt,
.info_blocks .text dd{
	display:inline;
	color:#434343;
}
.info_blocks .text dd:after{
	content:"";
	display:block;
	width:100%;
	height:18px;
}
@media screen and (max-width: 768px){
	.info_blocks .block .img h4{
		font-size:26px;
		left:10px;
	}
}
@media screen and (max-width: 600px){
	.info_blocks .block{
		width:47%;
		display:inline-block;
		vertical-align:top;
		float:none;
		margin-bottom:20px;
	}
	.info_blocks .block:nth-child(3n){
		margin-left:0;
	}
}
@media screen and (max-width: 414px){
	.info_blocks{
		padding-bottom:0;
	}
	.info_blocks .block{
		width:100%;
		display:inline-block;
		vertical-align:top;
		float:none;
		margin:0 0 20px;
	}
	.info_blocks .block .text ul{
		font-size:20px;
	}
	.info_blocks .block .img h4{
		font-size:34px;
	}
}
.icon_opt{
	position:relative;
	padding:20px 0 20px 64px;
}
.icon_opt:before,
.icon_opt:after,
.break_details .badge{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:50%;
	width:56px;
	height:56px;
	background-color:#917643;
}
.icon_opt:before{
	border-radius:0;
	background:url(../images/sprite.png) no-repeat -116px -310px;
	width:56px;
	height:56px;
	z-index:1;
}
.icon_priv_charters:before{
	left:4px;
	top:-1px;
}
.icon_warm_waters:before{
	background-position:-284px -310px;
}
.icon_uncrowded_surf:before{
	background-position:-172px -310px;
}
.icon_perfect_lr:before{
	background-position:-60px -310px;
	left:6px;
	top:1px;
}
.icon_star_boats:before{
	background-position:-228px -310px;
}
.icon_flexible_dates:before{
	background-position:-340px -310px;
	left:1px;
}
.surfatoll_insta_photos{
	padding:105px 0 140px;
	text-align:center;
}
.surfatoll_insta_photos .wrapper{
	overflow:hidden;
	padding-bottom:20px;
}
.surfatoll_insta_photos h3{
	margin-bottom:55px;
}
.surfatoll_insta_photos .list{
	overflow:hidden;
	margin:0 0 40px -1.5%;
}
.surfatoll_insta_photos .list li{
	float:left;
	width:18.5%;
	margin:0 0 1.5% 1.5%;
	overflow:hidden;
}
.surfatoll_insta_photos .list li a:hover img{
	-webkit-transform:scale3d(1.1, 1.1, 1.1);
	transform:scale3d(1.1, 1.1, 1.1);
}
.surfatoll_insta_photos .list img,
.break_images img{
	-webkit-transition:-webkit-transform .35s ease 0s;
	transition:-webkit-transform .35s ease 0s;
	transition:transform .35s ease 0s;
	transition:transform .35s ease 0s, -webkit-transform .35s ease 0s;
	-webkit-transform:scale3d(1, 1, 1);
	transform:scale3d(1, 1, 1);
}
@media screen and (max-width: 768px){
	.surfatoll_insta_photos{
		padding-top:50px;
		padding-bottom:40px;
	}
	.surfatoll_insta_photos .list li{
		width:31.83333333%;
	}
}
@media screen and (max-width: 414px){
	.surfatoll_insta_photos .list li{
		width:47%;
		margin-bottom:3%;
		display:inline-block;
		vertical-align:top;
		float:none;
	}
}
/* surfatoll_insta_photos end */
.recent_blog_articles{
	background:url(../images/bg-blogblock.jpg) no-repeat 50% -1000px;
	padding:40px 0 225px;
	text-align:center;
}
.recent_blog_articles h3{
	margin-bottom:40px;
}
.recent_blog_articles .blocks{
	text-align:left;
}
.recent_blog_articles .block{
	float:left;
	width:30.33333333%;
	margin:0 0 20px 3%;
	text-align:left;
}
.recent_blog_articles .block:first-child{
	margin-left:0;
}
.recent_blog_articles .block .img{
	display:block;
	margin-bottom:10px;
	overflow:hidden;
}
.recent_blog_articles .block .img:hover img{
	-webkit-transform:scale3d(1.1, 1.1, 1.1);
	transform:scale3d(1.1, 1.1, 1.1);
}
.recent_blog_articles .block img{
	-webkit-transition:-webkit-transform .35s ease 0s;
	transition:-webkit-transform .35s ease 0s;
	transition:transform .35s ease 0s;
	transition:transform .35s ease 0s, -webkit-transform .35s ease 0s;
	-webkit-transform:scale3d(1, 1, 1);
	transform:scale3d(1, 1, 1);
}
.recent_blog_articles .block .btn{
	padding-top:12px;
	padding-bottom:12px;
}
.recent_blog_articles .block h4{
	font:300 20px Montserrat, Arial, sans-serif;
	margin-bottom:12px;
	color:#474747;
}
.recent_blog_articles .block h4:hover{
	color:#222;
}
.recent_blog_articles .block .meta{
	overflow:hidden;
	font:14px Montserrat, Arial, sans-serif;
	text-transform:uppercase;
	margin-bottom:15px;
}
.recent_blog_articles .block .meta a{
	color:#474747;
}
.recent_blog_articles .block .meta a:hover{
	color:#222;
}
.recent_blog_articles .block .meta li{
	float:left;
	position:relative;
	padding:0 0 0 16px;
	margin:0 0 0 14px;
}
.recent_blog_articles .block .meta li:before{
	content:"|";
	position:absolute;
	left:0;
	top:-1px;
}
.recent_blog_articles .block .meta li:first-child{
	margin-left:0;
	padding-left:0;
}
.recent_blog_articles .block .meta li:first-child:before{
	display:none;
}
@media screen and (max-width: 960px){
	.recent_blog_articles{
		padding-top:50px;
		padding-bottom:100px;
	}
	.recent_blog_articles .block{
		width:47%;
		display:inline-block;
		vertical-align:top;
		float:none;
	}
	.recent_blog_articles .block:nth-child(3n){
		margin-left:0;
	}
}
@media screen and (max-width: 414px){
	.recent_blog_articles{
		padding-top:0;
	}
	.recent_blog_articles .block{
		width:100%;
		margin:0 0 30px;
	}
}
/* recent_blog_articles end */
.newsletter_block{
	background-color:#907642;
	padding:40px 0;
	color:#fff;
}
.newsletter_block .wrapper{
	max-width:1165px;
}
@media screen and (max-width: 800px){
	.newsletter_block{
		padding:20px 0;
	}
}
.subscribe_form .label{
	float:left;
	position:relative;
	padding-left:7%;
	width:45%;
	font-weight:300;
}
.subscribe_form .label:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	background:url(../images/sprite.png) no-repeat -401px 0;
	width:54px;
	height:58px;
}
.subscribe_form .label strong{
	display:block;
	color:#fff;
	margin-bottom:4px;
	margin-top:2px;
}
.subscribe_form .label_surfer{
	padding-left:9%;
	width:45%;
}
.subscribe_form .label_surfer:before{
	background-position:0 -371px;
	width:87px;
	height:59px;
	top:7px;
}
.subscribe_form .set{
	float:right;
	width:46%;
}
.subscribe_form .txt{
	float:left;
	padding:20px 3%;
	width:64%;
	font-size:18px;
}
.subscribe_form .txt::-webkit-input-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.subscribe_form .txt::-moz-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.subscribe_form .txt:-moz-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.subscribe_form .txt:-ms-input-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.subscribe_form .btn_submit{
	float:right;
	width:34%;
	background-color:#5f4e2c;
	height:58px;
	margin-top:1px;
	box-shadow:0 3px 8px #5f4e2c;
}
.subscribe_form .btn_submit:hover{
	background:#493c22;
}
@media screen and (max-width: 910px){
	.subscribe_form .label_surfer{
		padding-left:10%;
		width:44%;
	}
}
@media screen and (max-width: 800px){
	.subscribe_form{
		text-align:center;
	}
	.subscribe_form .label{
		float:none;
		display:block;
		width:auto;
		padding-left:90px;
		margin-bottom:20px;
		display:inline-block;
		text-align:left;
	}
	.subscribe_form .set{
		float:none;
		width:80%;
		margin:0 auto;
		text-align:left;
	}
}
@media screen and (max-width: 500px){
	.subscribe_form .label:before{
		display:none;
	}
	.subscribe_form .label{
		padding-left:0;
	}
	.subscribe_form .set{
		width:100%;
	}
}
@media screen and (max-width: 414px){
	.subscribe_form .label strong{
		text-transform:none;
	}
}
/* newsletter_block end */
#footer{
	background:#232323;
	color:#fff;
}
#footer .wrapper{
	max-width:900px;
	padding-top:44px;
	padding-bottom:55px;
	overflow:hidden;
}
#footer .services_wrapper{
	max-width:1300px;
	padding-bottom:30px;
}
#footer .logo{
	float:none;
	display:block;
	margin:0 auto 60px;
	background-image:url(../images/logo-footer.png);
	width:354px;
	height:96px;
}
#footer .lists{
	overflow:hidden;
	margin:0 0 44px;
	font-weight:300;
}
#footer .lists ul{
	margin-left:6%;
	float:left;
}
#footer .lists ul:first-child{
	margin-left:0;
}
#footer .lists ul:last-child{
	float:right;
	margin-left:10px;
}
#footer .lists a{
	color:#999;
}
#footer .lists a:hover{
	color:#fff;
}
#footer .lists h4{
	color:#fff;
	font-size:18px;
	letter-spacing:1px;
	margin-bottom:10px;
}
#footer .lists li{
	padding-bottom:2px;
}
@media screen and (max-width: 860px){
	#footer .lists{
		margin-bottom:24px;
	}
	#footer .lists ul:last-child,
	#footer .lists ul{
		float:none;
		display:inline-block;
		vertical-align:top;
		margin:0 1% 20px 0;
		width:32%;
	}
}
@media screen and (max-width: 768px){
	#footer .lists ul:last-child,
	#footer .lists ul{
		width:48%;
		text-align:center;
	}
}
@media screen and (max-width: 414px){
	#footer strong.logo{
		margin-bottom:30px;
		background-size:cover;
		width:283.2px;
		height:76.8px;
	}
	#footer .wrapper{
		padding-bottom:30px;
	}
}
.socials{
	text-align:center;
	font-size:24px;
}
.socials a{
	color:#999;
}
.socials a:hover{
	color:#fff;
}
.socials li{
	display:inline-block;
	padding:0 12px;
}
.wintrip{
	border-radius:3px;
	padding:30px 6%;
	margin-bottom:54px;
}
.wintrip .img{
	float:left;
	border-radius:50%;
	overflow:hidden;
	margin:0 20px 0 0;
}
.wintrip .btn{
	float:right;
	padding-left:35px;
	padding-right:35px;
	box-shadow:0 3px 4px #333;
}
.wintrip .text{
	overflow:hidden;
	padding-top:12px;
	font-weight:300;
}
.wintrip .text h4{
	color:#fff;
	letter-spacing:1px;
	font-size:28px;
	margin:0 0 2px;
}
.wintrip .text p{
	margin:0;
}
.wintrip .holder{
	float:left;
	width:70%;
}
@media screen and (max-width: 800px){
	.wintrip{
		padding-left:3%;
		padding-right:3%;
	}
	.wintrip .img{
		float:none;
		display:block;
		width:82px;
		margin:0 auto 20px;
	}
	.wintrip .text{
		padding-top:0;
		text-align:center;
	}
	.wintrip .holder{
		float:none;
		width:100%;
		padding-bottom:20px;
	}
	.wintrip .btn{
		float:none;
	}
}
.btm_bar{
	background-color:#1b1b1b;
	text-transform:uppercase;
	font-weight:300;
	font-size:14px;
	line-height:30px;
	color:#494949;
	text-align:center;
	padding:13px 10px;
}
.btm_bar p{
	margin:0;
	display:inline-block;
}
.btm_bar ul{
	display:inline-block;
}
.btm_bar li{
	display:inline-block;
	position:relative;
	padding-left:20px;
	margin-left:20px;
}
.btm_bar li:before{
	content:"|";
	position:absolute;
	left:0;
	top:-1px;
}
.btm_bar a:hover{
	color:#fff;
}
@media screen and (max-width: 768px){
	.btm_bar p{
		display:block;
	}
	.btm_bar li:first-child{
		margin-left:0;
		padding-left:0;
	}
	.btm_bar li:first-child:before{
		display:none;
	}
}
@media screen and (max-width: 450px){
	.btm_bar p{
		margin-bottom:10px;
	}
	.btm_bar li{
		display:block;
		margin-left:0;
		padding-left:0;
		line-height:20px;
		padding-bottom:10px;
	}
	.btm_bar li:before{
		display:none;
	}
}
/* footer end */
.tabs_holder{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}
.tabset{
	max-width:1350px;
	margin:0 auto;
	overflow:hidden;
	text-align:center;
	text-transform:uppercase;
	background:rgba(0, 0, 0, .5);
}
.tabset li{
	float:left;
	width:33.33333333%;
}
.tabset li.active a{
	font-weight:bold;
	background:rgba(6, 147, 161, .5);
	border-top:3px solid #34dfed;
	padding-top:20px;
}
.tabset a{
	color:#fff;
	display:block;
	padding:23px 10px;
	-webkit-transition:background .25s ease-in-out;
	transition:background .25s ease-in-out;
}
.tabset a:hover{
	background:rgba(255, 255, 255, .1);
	border-top:3px solid #fff;
	padding-top:20px;
}
@-webkit-keyframes menu{
	0%{
		-webkit-transform:rotate(0);
		transform:rotate(0);
		box-shadow:0 -7px 0 0 #fff, 0 7px 0 0 #fff;
	}
	30%{
		-webkit-transform:rotate(0);
		transform:rotate(0);
		box-shadow:0 0 0 0 #fff, 0 0 0 0 #fff;
	}
	40%{
		-webkit-transform:rotate(0);
		transform:rotate(0);
		box-shadow:0 0 0 0 #fff, 0 0 0 0 #fff;
	}
	60%{
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
		box-shadow:0 0 0 0 #fff, 0 0 0 0 #fff;
	}
	70%{
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
		box-shadow:0 0 0 0 #fff, 0 0 0 0 #fff;
	}
	100%{
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
		box-shadow:0 -7px 0 0 #fff, 0 7px 0 0 #fff;
	}
}
@keyframes menu{
	0%{
		-webkit-transform:rotate(0);
		transform:rotate(0);
		box-shadow:0 -7px 0 0 #fff, 0 7px 0 0 #fff;
	}
	30%{
		-webkit-transform:rotate(0);
		transform:rotate(0);
		box-shadow:0 0 0 0 #fff, 0 0 0 0 #fff;
	}
	40%{
		-webkit-transform:rotate(0);
		transform:rotate(0);
		box-shadow:0 0 0 0 #fff, 0 0 0 0 #fff;
	}
	60%{
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
		box-shadow:0 0 0 0 #fff, 0 0 0 0 #fff;
	}
	70%{
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
		box-shadow:0 0 0 0 #fff, 0 0 0 0 #fff;
	}
	100%{
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
		box-shadow:0 -7px 0 0 #fff, 0 7px 0 0 #fff;
	}
}
/* sidebar nav */
#st_pusher,
#st_container{
	position:relative;
	overflow:hidden;
}
#st_pusher{
	z-index:2;
	-webkit-transition:all 1s;
	transition:all 1s;
}
.st_menu_open #st_pusher{
	-webkit-transform:translateX(-400px);
	transform:translateX(-400px);
}
#side_nav{
	position:absolute;
	top:0;
	right:-400px;
	z-index:100;
	width:400px;
	height:100%;
	background:#0693a1;
	-webkit-transition:all 1s;
	transition:all 1s;
	text-align:center;
	color:#fff;
	z-index:1;
	opacity:0;
}
.st_menu_open #side_nav{
	-webkit-transform:translateX(-400px);
	transform:translateX(-400px);
	opacity:1;
}
#side_nav a{
	color:#fff;
}
#side_nav .logo{
	display:block;
	float:none;
	margin:122px auto 50px;
}
#side_nav .list{
	font-weight:300;
	font-size:20px;
	line-height:24px;
	padding-bottom:24px;
}
#side_nav .list li{
	padding-bottom:12px;
}
#side_nav .list strong{
	color:#51b4bd;
	display:block;
	margin-bottom:14px;
}
#side_nav .list a:hover{
	border-bottom:1px dotted #fff;
}
#side_nav .socials{
	color:#fff;
}
#side_nav .socials a:hover{
	color:#024f57;
}
#side_nav span.close{
	position:absolute;
	right:21px;
	top:28px;
	text-indent:-9999px;
	cursor:pointer;
	background:url(../images/sprite.png) no-repeat -421px -206px;
	width:24px;
	height:24px;
}
@media screen and (max-width: 400px){
	#side_nav{
		width:100%;
	}
	.st_menu_open #side_nav{
		-webkit-transform:translateX(-100%);
		transform:translateX(-100%);
		opacity:1;
		right:-100%;
	}
}
/* maldives surfing page*/
.visual_maldives_surfing{
	background-image:url(../images/img20.jpg);
}
.about_atolls{
	padding-bottom:60px;
	overflow:hidden;
}
.about_atolls .atolls_maps{
	float:right;
	width:730px;
	background:url(../images/bg-atolls2.png) no-repeat 100% 0;
	position:relative;
	margin:0 -94px 0 15px;
}
.about_atolls .atolls_maps .islands{
	display:block;
	position:relative;
	background:url(../images/bg-atolls.png) no-repeat;
	width:157px;
	height:617px;
	margin:63px 0 0 287px;
}
.about_atolls .atolls_maps .islands .icon_plane{
	position:absolute;
}
.about_atolls .atolls_maps .islands .plane_male{
	left:119px;
	top:51px;
}
.about_atolls .atolls_maps .islands .plane_laamu{
	left:119px;
	top:424px;
}
.about_atolls .atolls_maps .islands .plane_huvadhoo{
	left:-17px;
	top:491px;
}
.about_atolls .atolls_maps .islands .plane_seenu{
	left:41px;
	top:598px;
}
.about_atolls .atolls_maps .islands .point,
.about_atolls .atoll_map .points_list a,
.atoll_map .point{
	text-transform:uppercase;
	font-weight:500;
	font-size:12px;
	line-height:12px;
	color:#907542;
	position:absolute;
	white-space:nowrap;
	z-index:1;
}
.about_atolls .atolls_maps .islands .point_nmale{
	left:145px;
	top:15px;
}
.about_atolls .atolls_maps .islands .point_maleairport,
.atoll_map .point{
	left:144px;
	top:51px;
	color:#584828;
}
.about_atolls .atolls_maps .islands .point_smale{
	left:122px;
	top:82px;
}
.about_atolls .atolls_maps .islands .point_vaavu{
	left:131px;
	top:122px;
}
.about_atolls .atolls_maps .islands .point_meemu{
	left:140px;
	top:235px;
}
.about_atolls .atolls_maps .islands .point_thaa{
	left:94px;
	top:322px;
}
.about_atolls .atolls_maps .islands .point_laamu{
	left:140px;
	top:407px;
}
.about_atolls .atolls_maps .islands .point_huvadhoo{
	left:81px;
	top:488px;
}
.about_atolls .atolls_maps .islands .point_seenu{
	left:65px;
	top:603px;
}
.about_atolls .n_atolls,
.about_atolls .c_atolls,
.about_atolls .s_atolls{
	text-transform:uppercase;
	font-weight:300;
	font-size:20px;
	color:#907542;
	position:absolute;
	top:138px;
	left:0;
	width:100%;
	padding-bottom:12px;
	border-bottom:1px solid #d3c8b4;
}
.about_atolls .c_atolls{
	border:none;
	top:326px;
}
.about_atolls .s_atolls{
	top:510px;
	border-bottom:none;
	border-top:1px solid #d3c8b4;
	padding-top:12px;
}
.about_atolls .text,
.content .text{
	overflow:hidden;
	max-width:550px;
	padding-top:65px;
	font-weight:300;
}
.about_atolls .text h3,
.content .text h3{
	margin-bottom:30px;
	letter-spacing:1px;
}
@media screen and (max-width: 1000px){
	.about_atolls .atolls_maps{
		float:none;
		margin:0 auto 35px;
		max-width:730px;
		width:100%;
	}
	.about_atolls .atolls_maps .islands{
		margin:63px auto 0;
	}
	.about_atolls .text,
	.content .text{
		float:none;
		max-width:100%;
		padding-top:0;
	}
}
@media screen and (max-width: 570px){
	.about_atolls .n_atolls,
	.about_atolls .c_atolls,
	.about_atolls .s_atolls,
	.about_atolls .c_atolls,
	.about_atolls .s_atolls{
		font-size:12px;
		font-weight:500;
	}
}
@media screen and (max-width: 370px){
	.about_atolls .n_atolls,
	.about_atolls .c_atolls,
	.about_atolls .s_atolls,
	.about_atolls .c_atolls,
	.about_atolls .s_atolls{
		word-spacing:9999px;
		overflow:hidden;
		white-space:nowrap;
	}
}
.icon_plane,
.north_atoll .point_maleairport:after{
	background:url(../images/sprite.png) no-repeat -433px -95px;
	width:20px;
	height:19px;
	display:inline-block;
}
.main_content{
	background:url(../images/bg-islands.jpg) no-repeat 50% 0;
}
.swell_charts{
	padding:50px 0 0;
	margin-bottom:60px;
	background:#2899a4 url(../images/bg-swells-chart.jpg) repeat-x 50% 0;
	text-align:center;
}
.swell_charts .wrapper{
	max-width:1200px;
}
.swell_charts h3{
	color:#fff;
	margin-bottom:50px;
	letter-spacing:1px;
}
.swell_charts .chart{
	background:url(../images/bg-charts.png) no-repeat 50% 3px;
	height:280px;
	position:relative;
}
.swell_charts .chart .scale{
	position:absolute;
	left:-40px;
	top:20px;
	color:#fff;
	line-height:34px;
	font-weight:300;
}
@media screen and (max-width: 1280px){
	.swell_charts .chart .scale{
		left:-10px;
	}
}
.swell_charts .months{
	max-width:800px;
	margin:0 auto;
	overflow:hidden;
}
.swell_charts .months li{
	float:left;
	height:280px;
	position:relative;
	width:84px;
	margin-left:6.25%;
	color:#0693a1;
}
.swell_charts .months li:first-child{
	margin-left:0;
}
.swell_charts .months .holder{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:73px;
	background:rgba(255, 255, 255, .95);
	font-weight:300;
	line-height:20px;
	text-transform:uppercase;
	text-align:center;
}
.swell_charts .months .holder:before{
	content:"";
	background:url(../images/sprite.png) no-repeat -401px -181px;
	width:33px;
	height:25px;
	display:block;
	margin:-34px auto 0;
}
.swell_charts .months .holder span{
	position:absolute;
	bottom:10px;
	left:0;
	width:100%;
	word-spacing:500px;
}
.swell_charts .months .month,
.swell_charts .months .month6{
	color:#fff;
}
.swell_charts .months .month .holder,
.swell_charts .months .month6 .holder{
	background:rgba(3, 79, 86, .8);
}
.swell_charts .months .month .holder:before,
.swell_charts .months .month6 .holder:before{
	background-position:-401px -156px;
}
.swell_charts .months .month6 .holder{
	height:63px;
}
.swell_charts .months .month2 .holder{
	height:141px;
	background:rgba(255, 255, 255, .8);
}
.swell_charts .months .month3 .holder{
	height:186px;
	background:rgba(255, 255, 255, .85);
}
.swell_charts .months .month4 .holder{
	height:245px;
	background:rgba(255, 255, 255, .92);
}
.swell_charts .months .month5 .holder{
	height:165px;
}
@media screen and (max-width: 770px){
	.swell_charts{
		padding-top:25px;
	}
	.swell_charts .months{
		width:354px;
		font-size:14px;
	}
	.swell_charts .months li{
		width:50px;
		margin-left:3%;
	}
}
@media screen and (max-width: 375px){
	.swell_charts .months{
		width:234px;
		font-size:12px;
	}
	.swell_charts .months li{
		width:35px;
		margin-left:2%;
	}
}
.content_holder{
	max-width:1050px;
	padding-bottom:40px;
}
.content_holder h3{
	text-align:center;
	letter-spacing:2px;
}
.surfing_destination{
	padding-bottom:80px;
}
.surfing_destination h3{
	margin-bottom:50px;
}
@media screen and (max-width: 768px){
	.surfing_destination{
		padding-bottom:30px;
	}
}
.faq_section{
	margin-bottom:50px;
}
.faq_section h3{
	margin-bottom:35px;
}
.faq_list li{
	margin-bottom:10px;
	border:1px solid #ddd;
}
.faq_list li.opened{
	background-color:#fafafa;
}
.faq_list .opener{
	font-weight:300;
	font-size:18px;
	margin:0;
	color:#222;
	position:relative;
	padding:23px 60px 23px 24px;
	cursor:pointer;
}
.faq_list .opener:before,
.faq_list .opener:after{
	content:"";
	background-color:#0693a1;
	position:absolute;
	right:20px;
	top:33px;
	width:26px;
	height:2px;
}
.faq_list .opener:before{
	height:26px;
	width:2px;
	right:32px;
	top:21px;
}
.faq_list .opened .opener:before{
	opacity:0;
}
.faq_list .text{
	height:0;
	overflow:hidden;
}
.faq_list .inner{
	color:#666;
	padding:0 60px 10px 24px ;
}
/* end of maldives surfing page*/
/* northern-atolls page*/
.visual_northern_atolls{
	background-image:url(../images/img21.jpg);
}
.about_atolls .district_maps{
	float:right;
	background:url(../images/bg-atolls2.png) no-repeat;
	padding:36px 0 50px;
	width:660px;
	margin:0 -70px 0 15px;
}
@media screen and (max-width: 950px){
	.about_atolls .district_maps{
		float:none;
		margin:0 auto 20px;
	}
}
.about_atolls .atoll_map{
	float:left;
	width:405px;
	position:relative;
}
.about_atolls .atoll_map .atoll_name{
	text-transform:uppercase;
	color:#907542;
	font-size:20px;
	position:absolute;
	font-weight:300;
	top:58px;
	left:164px;
	z-index:2;
}
.about_atolls .atoll_map .atoll_south_male{
	left:60px;
	top:624px;
}
.about_atolls .atoll_map .points_list{
	text-align:center;
	position:absolute;
	top:258px;
	left:218px;
	width:130px;
}
.about_atolls .atoll_map .points_list li{
	padding-bottom:12px;
	position:relative;
}
.about_atolls .atoll_map .points_list li:hover > a{
	text-decoration:underline;
}
.about_atolls .atoll_map .points_list li:hover .about{
	display:block;
}
.about_atolls .atoll_map .points_list .about{
	position:absolute;
	right:-185px;
	top:-105px;
	background-color:#fff;
	border:1px solid #dadada;
	box-shadow:0 7px 10px #bbb;
	width:180px;
	color:#343434;
	padding:0 7px 14px;
	z-index:10;
	display:none;
}
.about_atolls .atoll_map .points_list .about .img{
	display:block;
	border-radius:50%;
	width:100px;
	height:100px;
	margin:-51px auto 11px;
	overflow:hidden;
}
.about_atolls .atoll_map .points_list .about .rating,
.breaks_table .rating{
	font-size:16px;
	color:#0693a1;
	font-weight:normal;
	margin-bottom:10px;
	line-height:18px;
}
.about_atolls .atoll_map .points_list .about .rating .fa{
	margin-left:-3px;
}
.about_atolls .atoll_map .points_list .about .title{
	display:block;
	font-size:20px;
	margin-bottom:10px;
}
.about_atolls .atoll_map .points_list .about dl{
	text-align:center;
	font-weight:300;
	margin-bottom:10px;
}
.about_atolls .atoll_map .points_list .about dt{
	display:inline;
	font-weight:500;
}
.about_atolls .atoll_map .points_list .about dd{
	display:inline;
}
.about_atolls .atoll_map .points_list .about dd:after{
	content:"";
	display:block;
}
.about_atolls .atoll_map .points_list .about .view_link{
	text-transform:none;
	font:300 16px Ubuntu, Arial, sans-serif;
	color:#0693a1;
}
@media screen and (max-width: 550px){
	.about_atolls .atoll_map .points_list .about{
		right:115px;
	}
}
.about_atolls .atoll_map .points_list_south{
	top:460px;
}
.about_atolls .atoll_map .points_list a{
	position:static;
}
.about_atolls .atoll_map .points_list a:hover{
	font-weight:bold;
	text-decoration:underline;
}
.about_atolls.north_atoll{
	padding-bottom:80px;
}
.about_atolls.north_atoll .atoll_map{
	background:url(../images/bg-northatolls.png) no-repeat;
	height:627px;
}
.about_atolls.north_atoll .atoll_map .points_direction{
	background:url(../images/bg-lines-northatoll.png) no-repeat;
	width:176px;
	height:356px;
	position:absolute;
	left:86px;
	top:262px;
	z-index:0;
}
.about_atolls .all_atolls_map{
	float:right;
	margin-right:88px;
	background:url(../images/bg-atolls4.png) no-repeat;
	width:157px;
	height:617px;
	position:relative;
}
.about_atolls .all_atolls_map .atoll_selection{
	position:absolute;
	top:-7px;
	left:80px;
	border:2px solid #907642;
	border-radius:2px;
	width:57px;
	height:110px;
}
.breaks_section{
	margin-bottom:110px;
}
.breaks_section .heading{
	text-align:center;
	padding:0 0 40px;
	color:#444;
	font-weight:300;
}
.breaks_section .heading h3{
	margin-bottom:16px;
}
.breaks_section .heading p{
	margin:0;
}
.breaks_section .tabs_holder{
	position:static;
}
.breaks_section .tabset{
	background-color:#3e3e3e;
}
.breaks_section .tabset a:hover{
	border-color:rgba(255, 255, 255, .1);
}
.breaks_section .tabset li.active a{
	background-color:#0693a1;
	border-color:#0693a1;
}
@media screen and (max-width: 414px){
	.breaks_section{
		margin-bottom:50px;
	}
}
.breaks_table{
	width:100%;
	border-collapse:collapse;
	table-layout:fixed;
	background-color:#fafafa;
	font-weight:300;
	color:#343434;
}
.breaks_table th{
	text-transform:uppercase;
	background-color:#222;
	font-weight:300;
	color:#fff;
	height:40px;
	padding-top:4px;
	padding-bottom:4px;
	line-height:18px;
}
.breaks_table th,
.breaks_table td{
	vertical-align:middle;
	width:7.40740741%;
	padding-left:.59259259%;
	padding-right:.59259259%;
}
.breaks_table .col_break_name{
	text-align:left;
	width:19.7037037%;
	padding-left:1.92592593%;
}
.breaks_table .col_break_name .img{
	display:inline-block;
	vertical-align:middle;
	margin-right:12px;
	border-radius:50%;
	width:60px;
	height:60px;
	overflow:hidden;
}
.breaks_table td.col_break_name{
	font-weight:500;
}
.breaks_table .col_break_best_size{
	width:15.18518519%;
}
.breaks_table .col_break_ability_level{
	width:8.88888889%;
}
.breaks_table .col_break_best_swell{
	width:16.2962963%;
}
.breaks_table .col_break_rating{
	width:10.22222222%;
}
.breaks_table .col_break_view{
	width:11.85185185%;
}
.breaks_table td{
	padding-top:14px;
	padding-bottom:14px;
	text-align:center;
}
.breaks_table tr:nth-child(odd) td{
	background-color:#ededed;
}
.breaks_table .rating{
	margin-bottom:0;
}
.breaks_table .rating .fa{
	margin-left:-3px;
}
.breaks_table .btn{
	padding-top:12px;
	padding-bottom:12px;
}
@media screen and (max-width: 850px){
	.breaks_table .btn{
		text-transform:none;
		padding:0;
		color:#0693a1;
		background:none;
		box-shadow:none;
	}
	.breaks_table .btn:hover{
		text-decoration:underline;
	}
}
@media screen and (max-width: 760px){
	.breaks_table th{
		text-transform:none;
		font-size:14px;
	}
	.breaks_table .col_break_name .img,
	.breaks_table .col_break_direction .fa{
		display:none;
	}
	.breaks_table .breaks_table td{
		padding-top:6px;
		padding-bottom:6px;
	}
}
@media screen and (max-width: 660px){
	.breaks_table{
		font-size:14px;
	}
}
@media screen and (max-width: 580px){
	.breaks_table .col_break_rating,
	.breaks_table .col_break_direction{
		display:none;
	}
}
@media screen and (max-width: 414px){
	.breaks_table .col_break_best_swell{
		display:none;
	}
	.breaks_table .col_break_ability_level{
		width:16.2962963%;
	}
}
/* end of northern-atolls page*/
/* chickens page*/
.visual_chickens{
	background-image:url(../images/img62.jpg);
}
.break_name{
	position:absolute;
	top:257px;
	left:185px;
	color:#584828;
	font-size:20px;
	text-transform:uppercase;
	font-weight:500;
	padding-left:34px;
}
.break_name:after{
	content:"";
	position:absolute;
	left:8px;
	top:-2px;
	background:url(../images/sprite.png) no-repeat -88px -371px;
	width:25px;
	height:25px;
}
.north_atoll .point_maleairport{
	padding-left:25px;
	line-height:14px;
	top:388px;
	left:128px;
}
.north_atoll .point_maleairport:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
}
.break_info{
	padding-top:60px;
	width:100%;
	clear:both;
	max-width:1250px;
}
.break_info .btn_view{
	float:right;
	margin-top:20px;
}
@media screen and (max-width: 414px){
	.break_info .btn_view{
		padding-left:10px;
		padding-right:10px;
	}
	.break_info .btn_view .logo_magicseaweed{
		margin-right:8px;
	}
}
.break_info .holder{
	padding-bottom:70px;
}
@media screen and (max-width: 1100px){
	.break_info{
		padding-top:0;
		text-align:center;
	}
	.break_info .break_details{
		float:none;
		margin:0 auto 25px;
		overflow:hidden;
		width:auto;
	}
	.break_info .break_details li{
		float:none;
		width:90px;
		display:inline-block;
		vertical-align:top;
		margin:0 20px 15px;
	}
	.break_info .break_details li:first-child{
		margin-left:20px;
	}
	.break_info .btn_view{
		float:none;
		margin:0;
	}
	.break_info .holder{
		padding-bottom:40px;
	}
}
.break_details{
	float:left;
	text-align:center;
	width:645px;
	margin-right:10px;
}
.break_details > li{
	float:left;
	width:90px;
	margin:0 0 15px 48px;
}
.break_details > li:first-child{
	margin-left:0;
}
.break_details strong{
	display:block;
	text-transform:uppercase;
	font:13px/18px Montserrat, Arial, sans-serif;
}
.break_details .badge{
	position:static;
	display:block;
	width:90px;
	height:90px;
	margin:0 0 10px;
	color:#fff;
	overflow:hidden;
}
.break_details .badge .fa-long-arrow-left{
	font-size:32px;
	line-height:20px;
	margin-top:30px;
	display:block;
}
.break_details .badge .fa-location-arrow{
	font-size:24px;
	line-height:20px;
	margin-top:28px;
	display:block;
	-webkit-transform:rotate(270deg);
	transform:rotate(270deg);
	margin-bottom:3px;
}
.break_details .badge i{
	font-size:12px;
	display:block;
}
.break_details .badge b{
	display:block;
	font-weight:500;
	font-size:24px;
	margin-top:28px;
}
.break_details .badge .rating{
	font-size:16px;
	padding-top:32px;
	margin-left:-3px;
	display:block;
}
.break_details .badge .rating .fa{
	margin-right:-3px;
}
.logo_magicseaweed{
	display:inline-block;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/sprite.png) no-repeat -311px -270px;
	width:68px;
	height:27px;
	margin:0 26px 0 0;
	vertical-align:top;
}
.break_images{
	overflow:hidden;
	margin-left:-1.85185185%;
}
.break_images li{
	float:left;
	width:14.81481481%;
	margin:0 0 1.85185185% 1.85185185%;
}
.break_images a:hover img{
	-webkit-transform:scale3d(1, 1, 1);
	transform:scale3d(1, 1, 1);
	transition:transform .35s ease 0s, -webkit-transform .35s ease 0s;
}
@media screen and (max-width: 768px){
	.break_images{
		margin-left:-2%;
	}
	.break_images li{
		width:31.33333333%;
		margin:0 0 2% 2%;
	}
}
/* end of chickens page*/
/* resort surfing page*/
.visual_resort_surfing{
	background-image:url(../images/img29.jpg);
}
.content{
	padding-bottom:50px;
}
.content .text{
	max-width:none;
	width:45%;
	padding-top:55px;
	float:left;
}
.content .sidebar{
	float:right;
	padding-right:5%;
	width:43%;
	background:url(../images/bg-atoll.jpg) no-repeat;
}
.content .clearflow{
	padding-bottom:50px;
}
.details_list{
	padding-top:10px;
}
.details_list > dt{
	color:#474747;
	font-weight:500;
	font-size:20px;
	margin-bottom:5px;
}
.details_list p{
	margin:0;
}
.details_list > dd{
	margin-bottom:20px;
}
.details_list li{
	position:relative;
	padding-left:16px;
}
.details_list li:after{
	content:"\2022";
	position:absolute;
	left:0;
	top:0;
}
.details_list dl{
	overflow:hidden;
	padding-top:7px;
}
.details_list dl dt{
	float:left;
	width:90px;
	margin:0 10px 10px 0;
	font-weight:500;
	clear:left;
}
.details_list dl dd{
	float:left;
	font-size:14px;
	font-style:italic;
	margin-bottom:10px;
}
.details_list dl dd strong{
	font-size:16px;
	font-weight:500;
	font-style:normal;
	margin-right:6px;
}
.details_list dl dd span{
	font-size:16px;
	font-weight:300;
}
.details_list dl dd b{
	font-weight:500;
	border-bottom:1px solid #d0d0d0;
}
/* end of resort surfing page*/