/* Font Face */
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu-LightItalic.eot");
	src:url("../fonts/Ubuntu-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-LightItalic.woff2") format("woff2"), url("../fonts/Ubuntu-LightItalic.woff") format("woff"), url("../fonts/Ubuntu-LightItalic.ttf") format("truetype");
	font-weight:300;
	font-style:italic;
}
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu-Light.eot");
	src:url("../fonts/Ubuntu-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu-Light.ttf") format("truetype");
	font-weight:300;
	font-style:normal;
}
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu-Medium.eot");
	src:url("../fonts/Ubuntu-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.ttf") format("truetype");
	font-weight:500;
	font-style:normal;
}
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu-Bold.eot");
	src:url("../fonts/Ubuntu-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.ttf") format("truetype");
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu-BoldItalic.eot");
	src:url("../fonts/Ubuntu-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-BoldItalic.woff2") format("woff2"), url("../fonts/Ubuntu-BoldItalic.woff") format("woff"), url("../fonts/Ubuntu-BoldItalic.ttf") format("truetype");
	font-weight:bold;
	font-style:italic;
}
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu-Italic.eot");
	src:url("../fonts/Ubuntu-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu-Italic.woff2") format("woff2"), url("../fonts/Ubuntu-Italic.woff") format("woff"), url("../fonts/Ubuntu-Italic.ttf") format("truetype");
	font-weight:normal;
	font-style:italic;
}
@font-face{
	font-family:"Ubuntu";
	src:url("../fonts/Ubuntu.eot");
	src:url("../fonts/Ubuntu.eot?#iefix") format("embedded-opentype"), url("../fonts/Ubuntu.woff2") format("woff2"), url("../fonts/Ubuntu.woff") format("woff"), url("../fonts/Ubuntu.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"Montserrat";
	src:url("../fonts/Montserrat-Regular.eot");
	src:url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"Montserrat";
	src:url("../fonts/Montserrat-Bold.eot");
	src:url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
	font-weight:bold;
	font-style:normal;
}
@font-face{
	font-family:"Montserrat";
	src:url("../fonts/Montserrat-Light.eot");
	src:url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype");
	font-weight:300;
	font-style:normal;
}
@font-face{
	font-family:"FontAwesome";
	src:url("../fonts/fontawesome-webfont.eot");
	src:url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
.fa{
	display:inline-block;
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.fa-facebook:before{
	content:"\f09a";
}
.fa-twitter:before{
	content:"\f099";
}
.fa-instagram:before{
	content:"\f16d";
}
.fa-youtube:before{
	content:"\f167";
}
.fa-skype:before{
	content:"\f17e";
}
/* Global Reset */
*{
	margin:0;
	padding:0;
	outline:none;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:none;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-size:24px;
	font-weight:bold;
	line-height:normal;
	margin-bottom:20px;
	font-family:Ubuntu, Arial, sans-serif;
}
h2{
	font-size:22px;
}
h3{
	font-size:18px;
}
h4{
	font-size:16px;
}
h5{
	font-size:14px;
}
h6{
	font-size:12px;
}
img{
	vertical-align:top;
}
p{
	margin:0 0 18px;
}
strong{
	font-weight:bold;
}
ul{
	list-style:none;
}
abbr{
	text-decoration:none;
}
a{
	color:#474747;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
	color:#111;
}
a img{
	border-style:none;
}
mark{
	background:none;
}
input,
textarea{
	font:16px Ubuntu, Arial, sans-serif;
	-webkit-appearance:none;
	border-radius:0;
}
textarea{
	resize:vertical;
}
input[placeholder]{
	text-overflow:ellipsis;
}
input::-moz-placeholder{
	text-overflow:ellipsis;
}
input:-moz-placeholder{
	text-overflow:ellipsis;
}
input:-ms-input-placeholder{
	text-overflow:ellipsis;
}
:focus::-webkit-input-placeholder{
	color:transparent !important;
}
:focus::-moz-placeholder{
	color:transparent !important;
}
:focus:-moz-placeholder{
	color:transparent !important;
}
:focus:-ms-input-placeholder{
	color:transparent !important;
}
fieldset{
	border-style:none;
}
label[for],
input[type=checkbox],
input[type=radio],
input[type=submit],
button,
select{
	cursor:pointer;
}
html,
body{
	height:100%;
}
body{
	color:#444;
	font:16px/24px Ubuntu, Arial, sans-serif;
	min-width:320px;
	background:#fff;
}
.homepage{
	background:#fff url(../images/bg-page1.jpg) repeat-x 50% 0;
}
.homepage_bg2{
	background-image:url(../images/bg-page2.jpg);
}
.homepage_bg3{
	background-image:url(../images/bg-page3.jpg);
}
.homepage_bg4{
	background-image:url(../images/bg-page4.jpg);
}
.homepage_bg5{
	background-image:url(../images/bg-page5.jpg);
}
.wrapper{
	margin:0 auto;
	max-width:1350px;
	padding:0 15px;
}
.btn,
.btn_submit,
.btn_white{
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	padding:17px 40px;
	border-radius:5px;
	background:#0693a1;
	-webkit-transition:all .25s ease-in-out;
	transition:all .25s ease-in-out;
	box-shadow:0 3px 4px #aaa;
	letter-spacing:1px;
}
.btn:hover{
	background:#046e78;
	color:#fff;
}
.btn_submit{
	border:none;
	background-color:#016879;
	padding:0;
	display:block;
	width:100%;
	height:48px;
	box-shadow:0 3px 3px #016879;
}
.btn_submit:hover{
	background:#024e5a;
}
.btn_white{
	background-color:#fff;
	color:#0693a1;
	box-shadow:0 3px 6px #999;
}
.btn_white:hover{
	color:#03717c;
}
.clearflow:after,
#signup_block .wrapper:after,
#featured_trips .holder:after,
.intro .blocks:after,
.recent_blog_articles .blocks:after,
.subscribe_form:after,
.wintrip:after{
	content:"";
	display:block;
	clear:both;
}
.h3,
.top_bar p,
.intro .description h3,
.surfatoll_insta_photos h3,
.recent_blog_articles h3,
.subscribe_form .label strong,
#footer .lists h4,
.wintrip .text h4,
.weather_col h4,
.list_weather h5,
.weather_col h4{
	text-transform:uppercase;
	color:#474747;
	font:300 24px Montserrat, Arial, sans-serif;
}
.fullwidth_img,
#signup_block .img img,
#featured_trips .img img,
.intro .block .img img,
.surfatoll_insta_photos .list img,
.recent_blog_articles .block img,
.wintrip .img img{
	display:block;
	width:100%;
	height:auto;
}
.top_bar{
	text-align:center;
	background-color:#239aac;
	padding:15px 10px;
	color:#fff;
}
.top_bar p{
	display:inline-block;
	margin:0 26px 0 0;
	color:#fff;
	letter-spacing:2px;
	vertical-align:top;
	padding:8px 0;
}
.top_bar .btn{
	vertical-align:top;
	box-shadow:0 3px 3px #016879;
	padding-top:12px;
	padding-bottom:12px;
	background-color:#016879;
}
.top_bar .btn:hover{
	background-color:#014f5c;
}
.promo{
	position:relative;
	padding:220px 0;
	min-height:560px;
	color:#fff;
	text-align:center;
}
.promo h2{
	font:bold 42px Montserrat, Arial, sans-serif;
	text-transform:uppercase;
	margin-bottom:24px;
}
.promo h3{
	text-transform:uppercase;
	font-weight:normal;
	font-size:18px;
	margin-bottom:34px;
}
@media screen and (max-width: 414px){
	.promo{
		padding:280px 10px 160px;
	}
}
@media screen and (max-width: 360px){
	.promo h2{
		font-size:34px;
	}
}
.icon,
#header .explore:before{
	background:url(../images/sprite.png) no-repeat;
	position:absolute;
}
#header{
	padding:42px 0 20px;
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
#header .wrapper{
	max-width:1500px;
	margin:0 auto;
	padding:0 15px;
}
#header .holder{
	float:right;
	padding-top:28px;
}
#header .explore{
	float:left;
	padding-left:30px;
	position:relative;
	cursor:pointer;
	color:#fff;
	text-transform:uppercase;
	line-height:19px;
}
#header .explore:before{
	content:"";
	background-position:-434px -156px;
	width:19px;
	height:14px;
	left:0;
	top:3px;
}
#header .explore:hover{
	text-decoration:underline;
}
#header .languages{
	float:left;
	padding-left:15px;
}
#header .languages li{
	float:left;
	margin-left:11px;
	width:28px;
	height:19px;
}
#header .languages a{
	display:block;
	text-indent:-9999px;
	height:100%;
	background:url(../images/sprite.png) no-repeat;
	background-position:-401px -243px;
}
#header .languages .french_lang{
	background-position:-401px -262px;
}
@media screen and (max-width: 414px){
	#header .logo{
		float:none;
		margin:0 auto 30px;
	}
	#header .holder{
		float:none;
		text-align:center;
		padding-top:0;
	}
	#header .explore{
		float:none;
		display:inline-block;
		margin-bottom:30px;
	}
	#header .languages{
		float:none;
		padding:0;
	}
	#header .languages li{
		float:none;
		display:inline-block;
	}
	#header .languages li:first-child{
		margin-left:0;
	}
}
.logo{
	float:left;
	margin:0;
	text-indent:-9999px;
	background:url(../images/logo.png) no-repeat;
	width:258px;
	height:70px;
}
.logo a{
	display:block;
	height:100%;
	text-indent:-9999px;
}
#signup_block{
	height:0;
	overflow:hidden;
	background-color:#0693a1;
	color:#fff;
	position:relative;
}
#signup_block .wrapper{
	padding-top:46px;
	padding-bottom:50px;
	max-width:1245px;
}
@media screen and (max-width: 500px){
	#signup_block .wrapper{
		padding-bottom:20px;
	}
}
#signup_block .text{
	float:left;
	width:59.03614458%;
	font-weight:300;
}
#signup_block .text .holder{
	overflow:hidden;
	height:1%;
	padding-top:34px;
}
#signup_block .text .holder p{
	margin-bottom:10px;
}
#signup_block .text .holder p strong{
	font-weight:500;
}
#signup_block .text .holder a{
	color:#fff;
}
#signup_block .text .holder a:hover{
	text-decoration:underline;
}
@media screen and (max-width: 900px){
	#signup_block .text .holder{
		padding-top:0;
	}
}
#signup_block .text .title{
	display:block;
	font:300 24px/30px Montserrat, Arial, sans-serif;
	text-transform:uppercase;
	margin-bottom:15px;
}
@media screen and (max-width: 630px){
	#signup_block .text{
		width:45%;
	}
}
@media screen and (max-width: 500px){
	#signup_block .text{
		width:100%;
		float:none;
		padding-bottom:20px;
	}
}
#signup_block .img{
	float:left;
	border-radius:50%;
	overflow:hidden;
	margin-right:8.16326531%;
	max-width:36.73469388%;
}
@media screen and (max-width: 900px){
	#signup_block .img{
		display:none;
	}
}
#signup_block span.close{
	position:absolute;
	right:40px;
	top:27px;
	text-indent:-9999px;
	cursor:pointer;
	background:url(../images/sprite.png) no-repeat -421px -206px;
	width:24px;
	height:24px;
}
@media screen and (max-width: 1373px){
	#signup_block span.close{
		top:10px;
		right:14px;
	}
}
.signup_form{
	width:32.12851406%;
	float:right;
}
.signup_form .fields li{
	overflow:hidden;
	padding-bottom:11px;
}
.signup_form .txt,
.subscribe_form .txt{
	background:#fff;
	border:none;
	border-radius:5px;
	width:calc(100% - 40px);
	padding:12px 20px;
	display:block;
	font-weight:300;
	color:#7f7f7f;
	font-size:16px;
}
.signup_form .txt::-webkit-input-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.signup_form .txt::-moz-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.signup_form .txt:-moz-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.signup_form .txt:-ms-input-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
@media screen and (max-width: 630px){
	.signup_form{
		width:50%;
	}
}
@media screen and (max-width: 500px){
	.signup_form{
		float:none;
		width:90%;
		margin:0 auto;
	}
}
/* signup_block end */
#featured_trips{
	max-width:995px;
	padding:0 40px;
	margin:0 auto 80px;
	position:relative;
}
#featured_trips li{
	overflow:hidden;
}
#featured_trips .holder{
	max-width:800px;
	margin:0 auto;
}
#featured_trips .img{
	float:left;
	width:33.75%;
	border-radius:50%;
	overflow:hidden;
}
#featured_trips .description{
	float:right;
	width:58.75%;
	padding:26px 0 20px;
	font-weight:300;
}
#featured_trips .description h4{
	text-transform:uppercase;
	font:300 24px Montserrat, Arial, sans-serif;
	letter-spacing:1px;
	margin:0 0 4px;
	color:#474747;
}
#featured_trips .description h5{
	font:italic 300 16px/24px Ubuntu, Arial, sans-serif;
	margin:0;
	color:#0693a1;
}
#featured_trips .description p{
	margin-bottom:12px;
}
#featured_trips .description dl{
	overflow:hidden;
}
#featured_trips .description dt{
	font-weight:500;
	float:left;
	margin:0 4px 0 36px;
}
#featured_trips .description dt:first-child{
	margin-left:0;
}
#featured_trips .description dd{
	float:left;
	margin-bottom:20px;
}
#featured_trips .bx-next,
#featured_trips .bx-prev{
	position:absolute;
	left:5px;
	top:113px;
	text-indent:-9999px;
	background:url(../images/sprite.png) no-repeat -401px -281px;
	width:14px;
	height:30px;
	z-index:51;
}
#featured_trips .bx-next{
	left:auto;
	right:5px;
	background-position:-415px -281px;
}
@media screen and (max-width: 768px){
	#featured_trips{
		margin-bottom:10px;
	}
}
@media screen and (max-width: 550px){
	#featured_trips .img{
		float:none;
		width:60%;
		margin:0 auto 20px;
		display:block;
	}
	#featured_trips .description{
		float:none;
		width:100%;
		text-align:center;
	}
}
/* featured_trips end */
.intro{
	background:url(../images/bg-islands.jpg) no-repeat 50% 0;
	padding:115px 0 80px;
	text-align:center;
	font-weight:300;
}
.intro .description{
	max-width:760px;
	margin:0 auto;
}
.intro .wrapper{
	max-width:1053px;
}
.intro .options{
	overflow:hidden;
	padding:20px 0;
	font:13px Montserrat, Arial, sans-serif;
	text-transform:uppercase;
	text-align:left;
}
.intro .options ul{
	float:left;
	width:36%;
	margin-right:1%;
}
.intro .options ul:last-child{
	width:25%;
}
.intro .options li{
	margin-bottom:24px;
}
.intro .blocks{
	padding-bottom:40px;
}
.intro .block{
	width:30.66666667%;
	float:left;
	margin-left:4%;
	background-color:#fff;
	box-shadow:0 7px 10px #bbb;
}
.intro .block:first-child{
	margin-left:0;
}
.intro .block .img{
	position:relative;
}
.intro .block .img h4{
	position:absolute;
	bottom:10px;
	left:22px;
	margin:0;
	color:#fff;
	font:300 32px Ubuntu, Arial, sans-serif;
	text-transform:lowercase;
	word-spacing:-7px;
}
.intro .block .img h4 strong{
	font-weight:bold;
}
.intro .block .text{
	text-align:center;
	padding:24px 10px;
}
.intro .block .text ul{
	padding-bottom:12px;
}
.intro .block .text li{
	padding-bottom:16px;
}
@media screen and (max-width: 768px){
	.intro{
		padding-top:80px;
		padding-bottom:30px;
	}
	.intro .btn{
		padding-left:10px;
		padding-right:10px;
		display:block;
	}
	.intro .block .img h4{
		font-size:26px;
		left:10px;
	}
}
@media screen and (max-width: 600px){
	.intro .block{
		width:47%;
		display:inline-block;
		vertical-align:top;
		float:none;
		margin-bottom:20px;
	}
	.intro .block:nth-child(3n){
		margin-left:0;
	}
	.intro .options ul{
		width:49%;
	}
	.intro .options ul:last-child{
		width:100%;
		margin:0;
	}
}
@media screen and (max-width: 414px){
	.intro .blocks{
		padding-bottom:0;
	}
	.intro .block{
		width:100%;
		display:inline-block;
		vertical-align:top;
		float:none;
		margin:0 0 20px;
	}
	.intro .block .text ul{
		font-size:20px;
	}
	.intro .block .img h4{
		font-size:34px;
	}
}
@media screen and (max-width: 360px){
	.intro .options ul{
		width:100%;
		margin:0;
	}
	.intro .options ul li{
		margin-bottom:12px;
	}
}
/* intro end */
.icon_opt{
	position:relative;
	padding:20px 0 20px 64px;
}
.icon_opt:before,
.icon_opt:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	border-radius:50%;
	width:56px;
	height:56px;
	background-color:#917643;
}
.icon_opt:before{
	border-radius:0;
	background:url(../images/sprite.png) no-repeat -116px -310px;
	width:56px;
	height:56px;
	z-index:1;
}
.icon_priv_charters:before{
	left:4px;
	top:-1px;
}
.icon_warm_waters:before{
	background-position:-284px -310px;
}
.icon_uncrowded_surf:before{
	background-position:-172px -310px;
}
.icon_perfect_lr:before{
	background-position:-60px -310px;
	left:6px;
	top:1px;
}
.icon_star_boats:before{
	background-position:-228px -310px;
}
.icon_flexible_dates:before{
	background-position:-340px -310px;
	left:1px;
}
.surfatoll_insta_photos{
	background:url(../images/bg-photos.jpg) no-repeat 50% 0;
	padding:105px 0 180px;
	text-align:center;
}
.surfatoll_insta_photos .wrapper{
	overflow:hidden;
	padding-bottom:20px;
}
.surfatoll_insta_photos h3{
	margin-bottom:55px;
}
.surfatoll_insta_photos .list{
	overflow:hidden;
	margin:0 0 40px -1.5%;
}
.surfatoll_insta_photos .list li{
	float:left;
	width:18.5%;
	margin:0 0 1.5% 1.5%;
	overflow:hidden;
}
.surfatoll_insta_photos .list li a:hover img{
	-webkit-transform:scale3d(1.1, 1.1, 1.1);
	transform:scale3d(1.1, 1.1, 1.1);
}
.surfatoll_insta_photos .list img{
	-webkit-transition:-webkit-transform .35s ease 0s;
	transition:-webkit-transform .35s ease 0s;
	transition:transform .35s ease 0s;
	transition:transform .35s ease 0s, -webkit-transform .35s ease 0s;
	-webkit-transform:scale3d(1, 1, 1);
	transform:scale3d(1, 1, 1);
}
@media screen and (max-width: 768px){
	.surfatoll_insta_photos{
		padding-top:50px;
		padding-bottom:40px;
	}
	.surfatoll_insta_photos .list li{
		width:31.83333333%;
	}
}
@media screen and (max-width: 414px){
	.surfatoll_insta_photos .list li{
		width:47%;
		margin-bottom:3%;
		display:inline-block;
		vertical-align:top;
		float:none;
	}
}
/* surfatoll_insta_photos end */
.recent_blog_articles{
	background:url(../images/bg-blogblock.jpg) no-repeat 50% 100%;
	padding:0 0 225px;
	text-align:center;
}
.recent_blog_articles h3{
	margin-bottom:40px;
}
.recent_blog_articles .blocks{
	text-align:left;
}
.recent_blog_articles .block{
	float:left;
	width:30.33333333%;
	margin:0 0 20px 3%;
	text-align:left;
}
.recent_blog_articles .block:first-child{
	margin-left:0;
}
.recent_blog_articles .block .img{
	display:block;
	margin-bottom:10px;
	overflow:hidden;
}
.recent_blog_articles .block .img:hover img{
	-webkit-transform:scale3d(1.1, 1.1, 1.1);
	transform:scale3d(1.1, 1.1, 1.1);
}
.recent_blog_articles .block img{
	-webkit-transition:-webkit-transform .35s ease 0s;
	transition:-webkit-transform .35s ease 0s;
	transition:transform .35s ease 0s;
	transition:transform .35s ease 0s, -webkit-transform .35s ease 0s;
	-webkit-transform:scale3d(1, 1, 1);
	transform:scale3d(1, 1, 1);
}
.recent_blog_articles .block .btn{
	padding-top:12px;
	padding-bottom:12px;
}
.recent_blog_articles .block h4{
	font:300 20px Montserrat, Arial, sans-serif;
	margin-bottom:12px;
	color:#474747;
}
.recent_blog_articles .block h4:hover{
	color:#222;
}
.recent_blog_articles .block .meta{
	overflow:hidden;
	font:14px Montserrat, Arial, sans-serif;
	text-transform:uppercase;
	margin-bottom:15px;
}
.recent_blog_articles .block .meta a{
	color:#474747;
}
.recent_blog_articles .block .meta a:hover{
	color:#222;
}
.recent_blog_articles .block .meta li{
	float:left;
	position:relative;
	padding:0 0 0 16px;
	margin:0 0 0 14px;
}
.recent_blog_articles .block .meta li:before{
	content:"|";
	position:absolute;
	left:0;
	top:-1px;
}
.recent_blog_articles .block .meta li:first-child{
	margin-left:0;
	padding-left:0;
}
.recent_blog_articles .block .meta li:first-child:before{
	display:none;
}
@media screen and (max-width: 960px){
	.recent_blog_articles{
		padding-top:50px;
		padding-bottom:100px;
	}
	.recent_blog_articles .block{
		width:47%;
		display:inline-block;
		vertical-align:top;
		float:none;
	}
	.recent_blog_articles .block:nth-child(3n){
		margin-left:0;
	}
}
@media screen and (max-width: 414px){
	.recent_blog_articles{
		padding-top:0;
	}
	.recent_blog_articles .block{
		width:100%;
		margin:0 0 30px;
	}
}
/* recent_blog_articles end */
.newsletter_block{
	background-color:#907642;
	padding:40px 0;
	color:#fff;
}
.newsletter_block .wrapper{
	max-width:1165px;
}
@media screen and (max-width: 800px){
	.newsletter_block{
		padding:20px 0;
	}
}
.newsletter_block_blue{
	background-color:#0693a1;
}
.subscribe_form .label{
	float:left;
	position:relative;
	padding-left:7%;
	width:45%;
	font-weight:300;
}
.subscribe_form .label:before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	background:url(../images/sprite.png) no-repeat -401px 0;
	width:54px;
	height:58px;
}
.subscribe_form .label strong{
	display:block;
	color:#fff;
	margin-bottom:4px;
	margin-top:2px;
}
.subscribe_form .label_surfer{
	padding-left:9%;
	width:45%;
}
.subscribe_form .label_surfer:before{
	background-position:0 -371px;
	width:87px;
	height:59px;
	top:7px;
}
.newsletter_block_blue .subscribe_form .label_surfer:before{
	background-position:-368px -371px;
}
.subscribe_form .set{
	float:right;
	width:46%;
}
.subscribe_form .txt{
	float:left;
	padding:20px 3%;
	width:58%;
	font-size:18px;
}
.subscribe_form .txt::-webkit-input-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.subscribe_form .txt::-moz-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.subscribe_form .txt:-moz-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.subscribe_form .txt:-ms-input-placeholder{
	font-style:italic;
	color:#5f5e5e;
}
.subscribe_form .btn_submit{
	float:right;
	width:34%;
	background-color:#5f4e2c;
	height:58px;
	margin-top:1px;
	box-shadow:0 3px 8px #5f4e2c;
}
.subscribe_form .btn_submit:hover{
	background:#493c22;
}
.newsletter_block_blue .subscribe_form .btn_submit{
	background-color:#016879;
	box-shadow:0 3px 4px #016879;
}
@media screen and (max-width: 910px){
	.subscribe_form .label_surfer{
		padding-left:10%;
		width:44%;
	}
}
@media screen and (max-width: 800px){
	.subscribe_form{
		text-align:center;
	}
	.subscribe_form .label{
		float:none;
		display:block;
		width:auto;
		padding-left:90px;
		margin-bottom:20px;
		display:inline-block;
		text-align:left;
	}
	.subscribe_form .set{
		float:none;
		width:80%;
		margin:0 auto;
		text-align:left;
	}
}
@media screen and (max-width: 500px){
	.subscribe_form .label:before{
		display:none;
	}
	.subscribe_form .label{
		padding-left:0;
	}
	.subscribe_form .set{
		width:100%;
	}
}
@media screen and (max-width: 414px){
	.subscribe_form .label strong{
		text-transform:none;
	}
}
/* newsletter_block end */
#footer{
	background:#232323;
	color:#fff;
}
#footer.footer_brown{
	background-color:#907642;
	color:#dec28a;
}
#footer .wrapper{
	max-width:900px;
	padding-top:44px;
	padding-bottom:55px;
	overflow:hidden;
}
#footer .services_wrapper{
	max-width:1300px;
	padding-bottom:30px;
}
#footer .logo{
	float:none;
	display:block;
	margin:0 auto 60px;
	background-image:url(../images/logo-footer.png);
	width:354px;
	height:96px;
}
#footer .lists{
	overflow:hidden;
	margin:0 0 44px;
	font-weight:300;
}
#footer .lists ul{
	margin-left:6%;
	float:left;
}
#footer .lists ul:first-child{
	margin-left:0;
}
#footer .lists ul:last-child{
	float:right;
	margin-left:10px;
}
#footer .lists a{
	color:#999;
}
#footer .lists a:hover{
	color:#fff;
}
#footer .lists h4,
.weather_col h4{
	color:#fff;
	font-size:18px;
	letter-spacing:1px;
	margin-bottom:10px;
}
#footer .lists li{
	padding-bottom:2px;
}
@media screen and (max-width: 860px){
	#footer .lists{
		margin-bottom:24px;
	}
	#footer .lists ul:last-child,
	#footer .lists ul{
		float:none;
		display:inline-block;
		vertical-align:top;
		margin:0 1% 20px 0;
		width:32%;
	}
}
@media screen and (max-width: 768px){
	#footer .lists ul:last-child,
	#footer .lists ul{
		width:48%;
		text-align:center;
	}
}
#footer.footer_brown .lists a{
	color:#dec28a;
}
#footer .col_lists{
	float:left;
	width:33%;
	margin-bottom:0;
}
@media screen and (max-width: 768px){
	#footer .col_lists{
		float:none;
		width:100%;
	}
}
#footer .services_wrapper .col_lists ul:last-child,
#footer .services_wrapper .col_lists ul{
	float:left;
	width:49%;
	margin-right:1%;
	margin-left:0;
	text-align:left;
}
#footer .socials{
	text-align:center;
	font-size:24px;
}
#footer .socials a{
	color:#999;
}
#footer .socials a:hover{
	color:#fff;
}
#footer .socials li{
	display:inline-block;
	padding:0 12px;
}
#footer .col_lists .socials{
	font-size:16px;
}
#footer .col_lists .socials li{
	padding:0 0 2px;
	display:block;
}
#footer .col_lists .socials .fa{
	width:33px;
}
@media screen and (max-width: 414px){
	#footer strong.logo{
		margin-bottom:30px;
		background-size:cover;
		width:283.2px;
		height:76.8px;
	}
	#footer .wrapper{
		padding-bottom:30px;
	}
}
.wintrip{
	border-radius:3px;
	background-color:#1d1d1d;
	padding:30px 6%;
	margin-bottom:54px;
}
.wintrip .img{
	float:left;
	border-radius:50%;
	overflow:hidden;
	margin:0 20px 0 0;
}
.wintrip .btn{
	float:right;
	padding-left:35px;
	padding-right:35px;
	box-shadow:0 3px 4px #333;
}
.wintrip .text{
	overflow:hidden;
	padding-top:12px;
	font-weight:300;
}
.wintrip .text h4{
	color:#fff;
	letter-spacing:1px;
	font-size:28px;
	margin:0 0 2px;
}
.wintrip .text p{
	margin:0;
}
.wintrip .holder{
	float:left;
	width:70%;
}
@media screen and (max-width: 800px){
	.wintrip{
		padding-left:3%;
		padding-right:3%;
	}
	.wintrip .img{
		float:none;
		display:block;
		width:82px;
		margin:0 auto 20px;
	}
	.wintrip .text{
		padding-top:0;
		text-align:center;
	}
	.wintrip .holder{
		float:none;
		width:100%;
		padding-bottom:20px;
	}
	.wintrip .btn{
		float:none;
	}
}
.weather_col{
	float:right;
	width:66%;
}
.weather_col h4{
	margin-bottom:28px;
}
@media screen and (max-width: 768px){
	.weather_col{
		float:none;
		width:100%;
	}
}
.list_weather{
	overflow:hidden;
}
.list_weather li{
	float:left;
	margin:0 25px 20px 0;
}
.list_weather .icon{
	display:inline-block;
	width:60px;
	height:60px;
	margin-right:9px;
	background:url(../images/sprite.png) no-repeat 0 -310px;
	vertical-align:top;
	position:static;
}
.list_weather .icon_tides{
	background-position:-311px -210px;
}
.list_weather .icon_weather{
	background-position:-311px -150px;
}
.list_weather .icon_time{
	background-position:-311px -90px;
}
.list_weather .text{
	display:inline-block;
	vertical-align:top;
	font-weight:300;
	color:#999;
	padding-top:8px;
}
.list_weather .text .value{
	display:block;
}
.list_weather .text dt{
	font-weight:bold;
	display:inline-block;
	margin:0 3px 0 20px;
}
.list_weather .text dt:first-child{
	margin-left:0;
}
.list_weather .text dd{
	display:inline-block;
}
.footer_brown .list_weather .text{
	color:#dec28a;
}
.list_weather h5{
	font-size:18px;
	color:#fff;
	margin-bottom:0;
}
.btm_bar{
	background-color:#1b1b1b;
	text-transform:uppercase;
	font-weight:300;
	font-size:14px;
	line-height:30px;
	color:#494949;
	text-align:center;
	padding:13px 10px;
}
.footer_brown .btm_bar{
	background-color:#5f4e2c;
	color:#fff;
}
.footer_brown .btm_bar a{
	color:#fff;
}
.footer_brown .btm_bar a:hover{
	border-bottom:1px dotted #fff;
}
.btm_bar p{
	margin:0;
	display:inline-block;
}
.btm_bar ul{
	display:inline-block;
}
.btm_bar li{
	display:inline-block;
	position:relative;
	padding-left:20px;
	margin-left:20px;
}
.btm_bar li:before{
	content:"|";
	position:absolute;
	left:0;
	top:-1px;
}
.btm_bar a:hover{
	color:#fff;
}
@media screen and (max-width: 768px){
	.btm_bar p{
		display:block;
	}
	.btm_bar li:first-child{
		margin-left:0;
		padding-left:0;
	}
	.btm_bar li:first-child:before{
		display:none;
	}
}
@media screen and (max-width: 450px){
	.btm_bar p{
		margin-bottom:10px;
	}
	.btm_bar li{
		display:block;
		margin-left:0;
		padding-left:0;
		line-height:20px;
		padding-bottom:10px;
	}
	.btm_bar li:before{
		display:none;
	}
}
/* footer end */