/* boat oasis page*/
.visual_boat_oasis{background-image: url(../images/img55.jpg);}
dl.details_list{
  .clearflow{
    padding-bottom: 0;
    margin-bottom: 20px;
    ul{
      float: left;
      width: 49%;
      padding-right: 1%;
    }
  }
}
.icon_long_wide:after{
  background-position: -54px -130px;
  width: 58px;
  height: 48px;
  left: 32px;
  top: 17px;
}
.options_big_4{
  overflow: hidden;
  padding-bottom: 20px;
  li{
    width: 120px;
    margin: 0 10px 0 7px;
    &.icon_opt:before{left:15px;}
    display: inline-block;;
  }
}
.icon_crew:after{
  background-position: 0 -229px;
  width: 33px;
  height: 49px;
  left: 44px;
  top: 22px;
}
.icon_minmax{
  &:after{
    background-position:0 -188px;
    width: 56px;
    height: 41px;
    left: 34px;
    top: 33px;
  }
  .amount:extend(.icon_more_surfers .amount){
    left: 0;
    top: 14px;
    width: 100%;
    text-align: center;
  }
}
.icon_departs:after{
  background-position:-221px 0;
  width: 48px;
  height: 55px;
  left: 35px;
  top: 16px;
}
.btn_green_fw{
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 26px;
}
.sidebar .details_list{
  font-weight: 300;
  a{
    color: #0693a1;
    &:hover{border-bottom: 1px dotted #0693a1;}
  }
}
.testimonials{
  background:#0696a4 url(../images/bg-reviews.jpg) no-repeat 50% 50% fixed;
  padding: 35px 0;
  text-align: center;
  color: #fff;
  margin-bottom: 82px;
  .wrapper{position: relative;}
  .img{
    width: 110px;
    display: block;
    margin: 0 auto 22px;
    height: 110px;
    .br50;
    overflow: hidden;
    img:extend(.fullwidth_img){}
  }
  p{
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
  }
  cite{
    display: block;
    font-style: normal;
    font-weight: bold;
  }
  blockquote{
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  .bx-next:extend(#featured_trips .bx-prev),
  .bx-prev:extend(#featured_trips .bx-prev){
    background-position: 0 -278px;
    width: 20px;
    height: 37px;
    left: 25px;
  }
  .bx-next{
    background-position: -269px -167px;
    right: 25px;
    left: auto;
  }
}
/* end of boat oasis page*/
